/* Общие стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Header */
header {
    background: linear-gradient(45deg, #4caf50, #8bc34a);  
    padding: 50px 0;
}

.text1 {
    color: green;

}

/* Card */
.card {
    border: none;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

/* Button */
.btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Адаптивность */
@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
    
    header h1 {
        font-size: 28px;
    }
}
